user www-data www-data;  # Указываем пользователя и группу для работы Nginx
worker_processes auto;   # Автоматически определяем количество рабочих процессов

events {
    worker_connections 1024;  # Максимальное количество соединений на один рабочий процесс
}

http {
    resolver 8.8.8.8;  # Google DNS

    # Настройки SSL
    ssl_protocols TLSv1.2 TLSv1.3;  # Поддерживаемые версии протоколов SSL
    ssl_prefer_server_ciphers on;    
    ssl_ciphers 'HIGH:!aNULL:!MD5'; 

    server {
        listen 80;  # Слушаем HTTP на порту 80
        server_name ****.ru www.****.ru;  # Заменено на звездочки

        # Редирект на HTTPS
        return 301 https://$host$request_uri;  # Перенаправляем на HTTPS
    }

    server {
        listen 443 ssl;  # Слушаем HTTPS на порту 443
        server_name ****.ru www.****.ru;  # Заменено на звездочки

        ssl_certificate /etc/letsencrypt/live/****.ru/fullchain.pem;  # Путь к SSL-сертификату
        ssl_certificate_key /etc/letsencrypt/live/****.ru/privkey.pem;  # Путь к закрытому ключу

        # Указываем директории для логов
        access_log /var/log/nginx/access.log;  # Лог доступа
        error_log /var/log/nginx/error.log;    # Лог ошибок

        location /.well-known/acme-challenge/ {
            root /usr/share/nginx/html;  # Путь для проверки сертификатов
        }

        # Основной блок для обработки запросов к WordPress
        location / {
            root /var/www/html;  # Путь к директории с файлами WordPress
            index index.php index.html;  # Указываем индексные файлы
            try_files $uri $uri/ /index.php?$args;  # Если файл не найден, отдаем index.php
        }

        # Обработка PHP-файлов через fastcgi_pass
        location ~ \.php$ {
            fastcgi_split_path_info ^(.+\.php)(/.+)$;  # Разделяем SCRIPT_NAME и PATH_INFO
            include fastcgi_params;  # Включаем стандартные параметры FastCGI
            fastcgi_pass php-fpm:9000;  # Проксируем запросы на PHP-FPM по IP и порту
            fastcgi_index index.php;  # Указываем индексный файл
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;  # Указываем путь к скрипту
            fastcgi_param PATH_INFO $fastcgi_path_info;  # Передаем PATH_INFO
        }

        # Основной блок для обработки запросов к Django
        location /myWebBack/ {  
            proxy_pass http://python_server:8000;  # Проксируем запросы на Django
            proxy_set_header Host $host;  # Передаем заголовок Host
            proxy_set_header X-Real-IP $remote_addr;  # Передаем IP клиента
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;  # Передаем информацию о прокси
            proxy_set_header X-Forwarded-Proto $scheme;  # Передаем протокол
        }
    }
}