worker_processes auto;

events {
    worker_connections 1024;
}

http {
    resolver 8.8.8.8;  # Google DNS

    # Настройки SSL
    ssl_protocols   TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_ciphers         'HIGH:!aNULL:!MD5';

    server {
    listen 80;
        server_name aliud.ru www.aliud.ru;

        # Редирект на HTTPS
        return 301 https://$host$request_uri;
    }

    server {
    listen 443 ssl http2;  # Включаем HTTP/2
        server_name aliud.ru www.aliud.ru;

        ssl_certificate /etc/letsencrypt/live/aliud.ru/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/aliud.ru/privkey.pem;

        location /.well-known/acme-challenge/ {
            root /usr/share/nginx/html;
        }

    location / {
            root /usr/share/nginx/html;  # Путь к директории с вашими файлами
            index index.html;
            try_files $uri $uri/ /index.html;  # Если файл не найден, отдаем index.html
        }

    location ~ \.php$ {
            include fastcgi_params;
            fastcgi_pass wordpress:9000;  # Проксируем запросы к PHP-FPM
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_param PATH_INFO $uri;
        }

    location /wordpress {
            proxy_pass http://wordpress:80;  # Проксируем запросы к WordPress
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}
