# =======================================
# Шаблон файла .env 
# =======================================
# 1. Скопируйте этот шаблон в файл .env на вашем сервере.
# 2. Замените все значения по умолчанию на реальные данные, соответствующие вашей среде.
# 3. Убедитесь, что файл .env не отслеживается системой контроля версий (добавьте его в .gitignore).
# 4. Перезапустите ваше приложение, чтобы изменения вступили в силу.

# =======================================
# Шаблон файла .env для настройки приложения
# =======================================

# Настройки базы данных WordPress
DB_NAME=wordpress_db                 # Имя базы данных, используемой WordPress.
DB_USER=wordpress_user               # Имя пользователя для подключения к базе данных.
DB_PASSWORD=admin_password123        # Пароль для пользователя базы данных.

# Настройки администратора WordPress
WP_ADMIN_EMAIL=admin@example.com     # Электронная почта администратора WordPress.
WP_ADMIN_USER=admin                  # Имя администратора WordPress.
WP_ADMIN_PASSWORD=admin_password123  # Пароль администратора WordPress.

# Переменная для IP адреса сервера, домена и портов
SERVER_IP=**.***.***.**                # IP адрес сервера.
DOMAIN_NAME=*****.ru                 # Имя домена.
HTTP_PORT=8080                       # Порт для WordPress.
PYTHON_SERVER_PORT=8000              # Порт для сервера на Python.

# Grafana
GF_ADMIN_PASSWORD=admin_password123  # Устанавливаем свой пароль администратора Grafana.

# =======================================
# Настройки для проекта на Python/Django 
# =======================================

# Настройки базы данных 
PYTHON_DB_NAME=python_db             # Имя базы данных для web-сервера.
PYTHON_DB_USER=python_user           # Имя пользователя для подключения к базе данных web-сервера.
PYTHON_DB_PASSWORD=P@ssw0rd!2025     # Пароль для пользователя базы данных web-сервера.

# Учетные данные суперпользователя 
SUPERUSER_USERNAME=admin              # Имя суперпользователя для web-сервера.
SUPERUSER_PASSWORD=SuperSecurePass!   # Пароль суперпользователя для web-сервера.

# Разрешенные хосты 
ALLOWED_HOSTS=localhost,127.0.0.1,*****.ru, **.***.***.19

# Секретные ключи 
SECRET_KEY=3x@mpl3S3cr3tK3y!2025        # Секретный ключ для web-сервера.
# ADDITIONAL_SECRET_KEY=An0therS3cr3tK3y! # Дополнительный секретный ключ.

# Режим отладки
DEBUG=True                             
