user www-data www-data;  # Указываем пользователя и группу для работы Nginx
worker_processes auto;   # Автоматически определяем количество рабочих процессов

events {
    worker_connections 1024;  # Максимальное количество соединений на один рабочий процесс
}

http {
    resolver 8.8.8.8;  # Google DNS

    # Настройки SSL
    ssl_protocols TLSv1.2 TLSv1.3;  # Поддерживаемые версии протоколов SSL
    ssl_prefer_server_ciphers on;    # Предпочтение шифров сервера
    ssl_ciphers 'HIGH:!aNULL:!MD5';  # Поддерживаемые шифры

    server {
        listen 80;  # Слушаем HTTP на порту 80
        server_name ******.ru www.******.ru;  # Указываем доменные имена

        # Редирект на HTTPS
        return 301 https://$host$request_uri;  # Перенаправляем на HTTPS
    }

    server {
        listen 443 ssl;  # Слушаем HTTPS на порту 443
        server_name ******.ru www.a******.ru;  # Указываем доменные имена

        ssl_certificate /etc/letsencrypt/live/******.ru/fullchain.pem;  # Путь к SSL-сертификату
        ssl_certificate_key /etc/letsencrypt/live/******.ru/privkey.pem;  # Путь к закрытому ключу

        # Для проверки сертификатов Lets Encrypt
        location /.well-known/acme-challenge/ {
            root /usr/share/nginx/html;  # Путь для проверки сертификатов
        }

        # Основной блок для обработки запросов
        location / {
            root /var/www/html;  # Путь к директории с файлами
            index index.php index.html;  # Указываем индексные файлы
            try_files $uri $uri/ /index.php?$args;  # Если файл не найден, отдаем index.php
        }

        # Обработка PHP-файлов через fastcgi_pass
        location ~ \.php$ {
            fastcgi_split_path_info ^(.+\.php)(/.+)$;  # Разделяем SCRIPT_NAME и PATH_INFO
            include fastcgi_params;  # Включаем стандартные параметры FastCGI
            #fastcgi_pass unix:/var/run/php/php-fpm.sock;  # Проксируем запросы на PHP-FPM через сокет
            # fastcgi_pass 127.0.0.1:9000; 
            fastcgi_pass php-fpm:9000;  # Если  Проксируем запросы на PHP-FPM по IP и порту1
            fastcgi_index index.php;  # Указываем индексный файл
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;  # Указываем путь к скрипту
            fastcgi_param PATH_INFO $fastcgi_path_info;  # Передаем PATH_INFO
        }
    }
}

